<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        <span *ngIf="selectedProject.id; else prompt">Editing {{originalTitle}}</span>
        <ng-template #prompt>Create Project</ng-template>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <form data-cy="project-details-form" (submit)="saved.emit(selectedProject)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" data-cy="project-details-title"  [(ngModel)]="selectedProject.title" type="text" name="title">
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput data-cy="project-details-notes" placeholder="Notes" [(ngModel)]="selectedProject.notes" type="text" name="notes"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select data-cy="project-details-customer" placeholder="Customer" [(ngModel)]="selectedProject.customerId" name="customerId">
          <mat-option *ngFor="let customer of customers" [value]="customer.id">
            {{customer.firstName}} {{customer.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <section>
        <h4>{{selectedProject.percentComplete}}% Completed</h4>
        <mat-slider data-cy="project-details-completed" class="full-width" min="1" max="100" thumbLabel
          [(ngModel)]="selectedProject.percentComplete" name="percentComplete">
        </mat-slider>
      </section>

      <section>
        <mat-checkbox data-cy="project-details-approved" [(ngModel)]="selectedProject.approved" name="approved">Approved by Customer</mat-checkbox>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button data-cy="project-details-submit" type="submit" mat-button color="primary">Save</button>
      <button data-cy="project-details-cancel" type="button" mat-button (click)="cancelled.emit(selectedProject)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
